h1 Hello!

form action="upload" method="post" enctype="multipart/form-data"
  input type="file" name="files[]" multiple=true title="Choose and upload one or multiple files"
  input type="submit" title="Upload!"
